<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Keywords" content="球星卡,收藏卡,篮球卡,NBA球星卡,足球卡,签名卡,Panini,Panini球星卡,Upper Deck,Leaf,Topps,Fleer,拆卡,拆包,拆箱">
    <title>卡族社区</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</head>
<body>
    <div class="container">
        <div class="row header">
            <div class="col-xs-2">
                <img src="/img/log.png" class="img-responsive" alt="logo">
            </div>
            <div class="col-xs-5">
                <div class="searchBox">
                    <input type="text" class="form-control searchInput">
                    <button type="submit" class="btn btn-xs pull-right magnifying-glass">&nbsp;&nbsp;</button>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="headerName">
                    <span>Charry Wang</span>
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="glyphicon glyphicon-heart"></span>
                    <span class="glyphicon glyphicon-volume-up"></span>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="label label-warning mailnumber">22</span>
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-off"></span>
                </div>
                <div class="headerWarning"><p class="text-warning">211件保本在21分钟结束销售，马上去看看</p></div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">首页</a></li>
                            <li><a href="#">市场</a></li>
                            <li><a href="#">新闻</a></li>
                            <li><a href="#">展示</a></li>
                            <li><a href="#">卡盒</a></li>
                            <li><a href="#">论坛</a></li>
                            <li><a href="#">专卖</a></li>
                            <li><a href="#">卡店</a></li>
                            <li><a href="#">投诉</a></li>
                            <li><a href="#">通告</a></li>
                            <li><a href="#">V认证</a></li>
                            <li><a href="#" class="text-warning">游戏</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row groupBox">
            <img src="/img/gamelogo.png" class="img-responsive" alt="Responsive image">
        </div>
        <div class="row">
            <div class="col-xs-12 fix100W newsBar">
                <span class="newsTitle">卡族新闻</span> <span class="pull-right newsBarUpdateText">最后更新于2014年4月16日 9点30分</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 fix100W" style="padding-right: 3px; border-bottom: solid 1px #d9d9d9;">
                <div class="row groupBox" style="margin:0;height:300px;">
                    <div class="col-xs-6" style="padding: 5px;">
                        <img src="/img/thumbB.jpg" style="border: solid 1px; margin: 10px auto; width: 100%">
                    </div>
                    <div class="col-xs-6" style="padding: 0; border-left: solid 1px #d9d9d9;height:100%">
                        <div style="height:33%;border-bottom:solid 1px #d9d9d9;float:left;">
                            <div style="width:40%;float:left;">
                                <img src="/img/thumbB.jpg" style="height: 100px; padding: 10px">
                            </div>
                            <div style="width: 60%; float: left; padding:5px;">
                                <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                                <div>2013年12月14日 4点30分</div>
                            </div>
                        </div>
                        <div style="height: 33%; border-bottom: solid 1px #d9d9d9; float: left;">
                            <div style="width:40%;float:left;">
                                <img src="/img/thumbB.jpg" style="height: 100px; padding: 10px">
                            </div>
                            <div style="width: 60%; float: left; padding:5px;">
                                <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                                <div>2013年12月14日 4点30分</div>
                            </div>
                        </div>
                        <div style="height: 34%;float: left;">
                            <div style="width:40%;float:left;">
                                <img src="/img/thumbB.jpg" style="height: 100px; padding: 10px">
                            </div>
                            <div style="width: 60%; float: left; padding:5px;">
                                <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                                <div>2013年12月14日 4点30分</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row groupboxSidebar groupboxBottombar" style="margin:0;clear:both">
                    <div class="col-xs-6" style="padding:10px;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                    </div>
                    <div class="col-xs-6" style="padding: 10px; border-left: solid 1px #d9d9d9;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                    </div>
                </div>
                <div class="row groupboxSidebar groupboxBottombar" style="margin:0;clear:both">
                    <div class="col-xs-6" style="padding:10px;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                    </div>
                    <div class="col-xs-6" style="padding: 10px; border-left: solid 1px #d9d9d9;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                    </div>
                </div>

                <div class=" row groupBox" style="margin:5px 0">
                    <div class="col-xs-12" style="padding: 0;">
                        <div class="groupHeaderLeft">
                            卡盒动态
                            <div class="pull-right"><i class="icon-light-grey icon-mangnify"></i><span class="cardboxMoreBtn" ng-click="OpenMoreBox(box._id)">更多</span></div>
                        </div>
                        <div class="kzTable" style="border:0">
                            <div class="kzRow">
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" row groupBox" style="margin:5px 0">
                    <div class="col-xs-12" style="padding: 0;">
                        <div class="groupHeaderLeft">
                            卡盒动态
                            <div class="pull-right"><i class="icon-light-grey icon-mangnify"></i><span class="cardboxMoreBtn" ng-click="OpenMoreBox(box._id)">更多</span></div>
                        </div>
                        <div class="kzTable" style="border:0">
                            <div class="kzRow">
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" row groupBox" style="margin:5px 0">
                    <div class="col-xs-12" style="padding: 0;">
                        <div class="groupHeaderLeft">
                            卡盒动态
                            <div class="pull-right"><i class="icon-light-grey icon-mangnify"></i><span class="cardboxMoreBtn" ng-click="OpenMoreBox(box._id)">更多</span></div>
                        </div>
                        <div class="kzTable" style="border:0">
                            <div class="kzRow">
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                                <div class="kzCell kzCellQuartorWidth">
                                    <img class="img-responsive kzImage" src="/img/thumbA.jpg" />
                                    <div class="detailbox">
                                        <div class="highlightBlue">2013-14 Panini Prizm Hobby Box 1 1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 fix100W groupBox">
                <div class="groupboxBottombar groupHeader" style="margin-bottom:0">推荐阅读</div>
                <div class="groupboxBottombar">
                    <img src="/img/thumbB.jpg" class="img-responsive kzImage " style="border:solid 1px;">
                    <div style="margin-left:5px;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                        <div><b>Panini America</b></div>
                    </div>
                </div>
                <div class="groupboxBottombar">
                    <img src="/img/thumbB.jpg" class="img-responsive kzImage " style="border:solid 1px;">
                    <div style="margin-left:5px;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                        <div><b>Panini America</b></div>
                    </div>
                </div>
                <div class="groupboxBottombar">
                    <img src="/img/thumbB.jpg" class="img-responsive kzImage " style="border:solid 1px;">
                    <div style="margin-left:5px;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                        <div><b>Panini America</b></div>
                    </div>
                </div>
                <div class="groupboxBottombar">
                    <img src="/img/thumbB.jpg" class="img-responsive kzImage " style="border:solid 1px;">
                    <div style="margin-left:5px;">
                        <div class="highlightBlue ">2013-14 Panini Prizm Hobby Box</div>
                        <div>2013年12月14日 4点30分</div>
                        <div><b>Panini America</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row header">
            <div class="col-xs-3">
                <img src="/img/log.png" style="margin-top: 50px; margin-left: 30px;" alt="logo">
            </div>
            <div class="col-xs-3">
                <div class="footergroup">
                    <span>交易市场</></span>
                </div>
                <ul class="footerLi">
                    <li>拍卖专区</li>
                    <li>即将结束的宝贝</li>
                    <li>最新上架的宝贝</li>
                    <li>已结束的宝贝</li>
                    <li>已结束的宝贝</li>
                    <li>已售出的宝贝</li>
                    <li>交易规则</li>
                    <li>违规通告</li>
                </ul>
            </div>
            <div class="col-xs-3">
                <div class="footergroup">
                    <span>新闻动态</></span>
                </div>
                <ul class="footerLi">
                    <li>卡盒动态</li>
                    <li>新秀动态</li>
                    <li>Panini交换卡名单</li>
                    <li>NCAA明星</li>
                    <li>NCAA明星</li>
                    <li>纪录片</li>
                    <li>纪录片</li>
                    <li>官方消息</li>
                    <li>系列Hit现世</li>
                </ul>
            </div>
            <div class="col-xs-3">
                <div class="footergroup">
                    <span>卡盒资料</></span>
                </div>
                <ul class="footerLi">
                    <li>即将上市</li>
                    <li>Panini</li>
                    <li>Upper Deck</li>
                    <li>Fleer</li>
                    <li>Leaf</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>